 @font-face { 
   font-family: 'BebasNeue-Regular';
   src: local('BebasNeue-Regular'), url('./Fonts/BebasNeue-Regular.otf') format('otf');
}

.App {
  text-align: center;
  margin-top: 70px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #e8eaee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.aboutUsTitle,.yourProfile{
  font-family: "BebasNeue-Regular";
  font-size: 4rem;
  letter-spacing: 1px;

}

.profileImg {
  /* height: 300px; */
  max-width: 350px;
  border: 2px solid rgb(21, 7, 29);
  padding: 1.5px;
  transform: rotate(-4deg);
}
.profileImgContainer {
  text-align: left;
}

.welcomeBack{
  font-family: "BebasNeue-Regular";
  /* font-size: px; */
  letter-spacing: 1px;

}

.NavBarColor{
  background: #0c4d58;
}

.navbarItems {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.ContactUsTitle{
  font-family: "BebasNeue-Regular";
  font-size: 6rem;
  letter-spacing: 1px;
}


.formLabel, .formInput::-webkit-input-placeholder {
  font-family: "BebasNeue-Regular";
}

.submit-email-group {
  align-items: flex-end;
  display: flex;
  margin-bottom: 60px;
}

.submit-email-btn {
  background-color: #FF3333;
  color: #000000;
  border: 1px #000000 solid;
}
