body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  width: 18px;
  right: 20px;
  position: absolute;
}

.googleIcon{
  width: 16px;
  right: 20px;
  position: absolute;
}

.form-control {
  background-clip: unset!important;
  border-radius: unset!important;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #50E3C2;
  text-align: center;
  font-family: 'BebasNeue-Bold';
  font-size: 42px;
  color: black;
  letter-spacing: 1px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.inputTitles{
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'HelveticaNeue';
}

.whatWhere {
  letter-spacing: 1px;
  font-family: 'BebasNeue-Bold';
  font-size: 24px;
}

.advanceContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}

#advance {
  background-color: #000;
  color: #50E3C2;
  border-top: 2px #50E3C2 solid;
  height: 67px;
  width: 360px;
  font-size: 40px;
  font-family: 'BebasNeue-Bold';
  letter-spacing: 1px;
  margin-left: 68px;
}